/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--font-family-main), sans-serif;
  font-size: var(--font-size-main);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@supports (font-variation-settings: normal) {

  .page {
    font-family: var(--font-family-main), sans-serif;
    font-variation-settings: 'wght' var(--font-weight-regular-text);
  }
}

.header, .content {
  inline-size: var(--block-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  margin-block: 100px;
}

.header__logo {
  min-inline-size: var(--block-width);
  min-block-size: 368px;
  padding: 0 var(--padding-inline);
  box-shadow: 0 0 0 2px #000;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (width >= 375px) and (width <= 768px) {

  .header__logo {
    max-inline-size: 343px;
    box-shadow: none;
    border: 2px solid #000;
    min-block-size: 327px;
  }
}

.header__title {
  font-family: var(--font-family-accent), sans-serif;
  font-size: var(--font-size-title-accent);
  font-weight: var(--font-weight-accent);
  line-height: 100%;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--font-family-accent), sans-serif;
  font-size: var(--font-size-subtitle-accent);
  font-weight: var(--font-weight-accent);
  line-height: 100%;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  /*padding-bottom: 2px;*/
}

.content__card {
  border: 2px solid #000;
  margin-bottom: -1px;
}

/*.content__card:not(:first-of-type) {*/
/*  margin-top: 2px;*/
/*}*/

.content__card-title {
  font-family: var(--font-family-main), sans-serif;
  font-size: inherit;
  color: var(--color-text);
  line-height: 100%;
  font-weight: 700;
  background-color: var(--bg-color);
  border-block-end: 2px solid #000;
  padding: 5px 10px;
}

@supports (font-variation-settings: normal) {

  .content__card-title {
    font-family: var(--font-family-main), sans-serif;
    font-variation-settings: 'wght' var(--font-weight-bold-text);
    padding: 6px 10px;
  }
}

.content__card-pictures {
  position: relative;
}

.content__card-image {
  display: block;
  inline-size: 100%;
  max-block-size: 696px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.content__pale {
  filter: sepia(0.35) saturate(0.5) contrast(0.86);
}

.content__saturate {
  filter: saturate(280%);
}

.content__hue-rotate {
  filter: hue-rotate(20deg) saturate(0.85) brightness(0.92) contrast(1.05);
}

.content__invert {
  filter: invert(90%);
}

.content__sepia {
  filter: sepia(0.9) hue-rotate(10deg);
}

.content__blur {
  filter: blur(18px);
}

.content__filter-mix {
  filter: brightness(149%) contrast(141%) grayscale(44%) hue-rotate(88deg) invert(28%) saturate(1.5);
}

.content__card-image-label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  font-weight: var(--font-weight-accent);
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--stroke-color),
    0 1px var(--stroke-color),
    1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {

  .content__card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card-text-wrapper {
  padding: 26px;
  background-color: var(--bg-color);
  /*box-shadow: 2px 0 0 0 #000;*/
  border-block-start: 2px solid #000;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-text {
  font-family: var(--font-family-main), sans-serif;
  font-size: var(--font-size-main);
  line-height: 21px;
  font-weight: 400;
  color: var(--color-text);
}

@supports (font-variation-settings: normal) {

  .card-text {
    font-family: var(--font-family-main), sans-serif;
    font-variation-settings: 'wght' var(--font-weight-regular-text);
  }
}

.card__like {
  display: flex;
  justify-content: right;
  align-items: center;
}

.button {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accent);
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
}

.button__text {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-button);
  color: var(--color-text);
  line-height: 90%;

}

.card__icon-button {
  border: none;
}

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
}

.content__save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  min-inline-size: 335px;
  min-block-size: 55px;
  background-color: var(--bg-color);
  margin: auto auto 100px;
}

.content__floppy-image {
  max-inline-size: 21px;
}

.popup__floppy-image{
  max-inline-size: 39px;
}
