:root {
  --font-family-accent: 'PressStart2P';
  --font-family-main: 'Inter-Variable';
  --font-weight-accent: 400;
  --font-weight-bold-text: 715;
  --font-weight-regular-text: 410;
  --font-size-main: 18px;
  --font-size-title-accent: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  --font-size-subtitle-accent: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  --font-size-button: 14px;
  --bg-color: #fff;
  --color-text: #000;
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0, 1%, #1a1a1a 100%);
  --padding-inline: clamp(
    16px,
    calc(16px + 106 * ((100vw - 320px) / 1120)),
    122px
  );
  --block-width: clamp(
    375px,
    calc(320px + ((100vw - 320px) * (320 / (700 - 320)))),
    700px
  );
  --border: 2px solid #000;
  --stroke-color: #fff;
  --heart-contour-color: #000;
  --heart-accent-color: #f00;
}
