:root {
  --font-family-accent: 'PressStart2P';
  --font-family-main: 'Inter-Variable';
  --font-weight-accent: 400;
  --font-weight-bold-text: 715;
  --font-weight-regular-text: 410;
  --font-size-main: 18px;
  --font-size-title-accent: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  --font-size-subtitle-accent: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  --font-size-button: 14px;
  --bg-color: #fff;
  --color-text: #000;
  --bg-gradient:
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
      linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --padding-inline: clamp(
    16px,
    calc(16px + 106 * ((100vw - 320px) / 1120)),
    122px
  );
  --block-width: clamp(
    375px,
    calc(375px + ((100vw - 375px) * (375 / (700 - 375)))),
   700px);
  --picture-size: clamp(
      371px,
      calc(371px + (100vw - 375px) * (375 / 1440)),
      696px
  );
  --border: 2px solid #000;
  --stroke-color: #fff;
  --heart-contour-color: #000;
  --heart-accent-color: #f00;
}
